@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("./fonts/Manrope.ttf") format("truetype");
}

@font-face {
  font-family: "Hubot Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/HubotSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Hubot Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/HubotSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Hubot Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/HubotSans-ExtraBold.woff2") format("woff2");
}
